*{
  margin: 0;
}


/* ROOT */

:root {
--primary-color: #0482F7;
--secondary-color: #04a6f7;
--primary-darker: #006bee;
--primary-light:#c6e4ff;
--grey-color:rgb(130, 130, 130);
--background-color: #f8f8f8;
--text-color: #454545;
--light-grey: #a0a0a0;
--light-light-grey: #bbbbbb;
--box-border: #e0dede;

--container-width: 1060px;
--container-width-1100: 950px;
--detail-width: 700px;
--navbar-width: 1060px;
}

/* ROOT END */


/* GOOGLE MATERIAL ICONS */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    /* url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype'); */
}

* {
  font-family: 'GowunDodum-Regular';
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  padding: 3px;
  cursor: pointer;
  color: grey;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* GOOGLE MATERIAL ICONS END */

/* NAVBAR */

.mainbar {
  margin: 0 auto;
  height: 50px;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
  z-index: 800;
}

.mainbar-nav {
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50px;
  width: var(--navbar-width);
  margin: 0 auto;
}

.mainbar-nav-box {
  margin: 0 10px;
  height: inherit;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.mainbar-nav-box>span {
  color: black;
  font-size: 25px;
  font-weight: 400;
  margin-right: 8px;
}

.main-logo {
  height: 21px;
}

.navbar-menu {
  display: inline-block;
  cursor: pointer;
  color: var(--text-color);

  position: relative;
  vertical-align: middle;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding: 15px;
  display: inline-block;
}

.navbar-menu:hover {
  box-shadow: inset 0 -2px #258bf7;
}

.void {
  width: 400px;
}

.divider {
  display: block;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #e1e2e3;
  margin: auto 10px;
}
.button-company-service{
  font-size: 13px;
  color: #666;
  height: 30px;
  border: 1px solid #e1e2e3;
  border-radius: 15px;
  padding: 0 10px;
  margin-left: 15px;
  font-weight: 400;
  cursor: pointer;
}

/* NAVBAR END */

/* MAIN */
.main-container{
  max-width: var(--container-width);
  margin: 50px auto;
  text-align: center;
}

.heading{
  font-size: 20px;
  font-weight: 400;
  line-height: 1.05;
  letter-spacing: normal;
  align-items: center;
  text-align: center;
  margin: 30px auto 40px auto;
}

.logoai {
  height: 20px;
}

.bold {
  font-weight: bold;
}

.job-img{
  width: 250px;
  height: 188px;
  object-fit: cover;
  border-radius: 5px;
}

.banner {
  margin: 0 12px;
  position: relative;
}

.banner-box {
  z-index:1000;
  position: absolute;
  bottom: 28px;
  width: 280px;
  height: 60px;
  border-radius: 4px;
  background-color: #fff;
  text-align: left;
  left: 50px;
  opacity: 90%;
  padding: 17px;
  display: inline-block;
}

.banner-box p {
  margin-top: 5px;
  font-size: 0.85rem;
  color: var(--grey-color);
}

.joblist {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  flex-wrap: wrap;
}

.job-card{
  width: 265px;
  height: 360px;
  cursor: pointer;
}

.card-text-wrap{
  padding: 12px;
}
.card-text-wrap2{
  padding: 3px;
}
.card-text-wrap3{
  padding: 8px;
}

.cardhead {
  position: relative;
  color: #333;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  max-height: 2.4em;
  overflow: hidden;
  text-align: left;
  word-break: break-word;
}

.card-company {
  font-size: 14px;
  line-height: normal;
  text-align: left;
  word-break: break-word;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10px;
}

.card-location{
  font-size: 14px;
  line-height: normal;
  text-align: left;
  word-break: break-word;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 7px;
  font-weight: 400;
  color: var(--grey-color)
}
.normal-text{
  margin-top: 10px;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  word-break: break-word;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.companylist {
  display: flex;
  flex-direction: row;
  margin: 10px auto 5px auto;
  flex-wrap: wrap;
  align-content: space-around;
  max-width: var(--container-width);
  gap: 20px;
  
}
.main-company-card {
  max-width: 600px;
}

.main-company-img {
  width: 510px;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%);
}
.main-company-logo {
  width: 42px;
  height: 42px;
  border: 1px solid var(--box-border);
  background-size: contain;
  background-position: 50%;
  margin-right: 7px;
  background-repeat: no-repeat;
}

.main-company-description {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
}
.wrap {
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-industry{
  font-size: 14px;
  line-height: normal;
  text-align: left;
  word-break: break-word;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 3px;
  font-weight: 600;
  color: var(--light-grey);
}

.button-follow{
  font-size: 15px;
  color: var(--primary-color);
  line-height: 1;
  height: 40px;
  border: 1px solid #e1e2e3;
  border-radius: 20px;
  padding: 12px 21px 11px;
  font-weight: 600;
  background-color: #fff;
}

.main-divider{
  position: relative;
  max-width: 1060px;
  height: 1px;
  background-color: #ececec;
  margin: 50px auto;
  width: 80%;
}

.main-divider2{
  position: relative;
  max-width: 1060px;
  height: 1px;
  background-color: #ececec;
  margin: 20px auto;
  width: 85%;
}

.topmg30{
  margin-top: 30px;
}

.topmg40{
  margin-top: 40px;
}

/* MAIN END */

/* DETAIL - JOB  */
.detail-container{
  max-width: var(--detail-width);
  margin: 40px auto 70px auto;
}
.detail-head-img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin: 0 auto;
}
.detail-content {
  line-height: 1.7rem;
  white-space: pre-wrap;
}

.detail-company {
  font-size: 15px;
  text-align: left;
  word-break: break-word;
  width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.detail-location{
  font-size: 14px;
  line-height: normal;
  text-align: left;
  word-break: break-word;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  color: var(--grey-color)
}

.topmg10{
  margin-top: 10px;
}
.content-header {
  font-size: 1rem;
  font-weight: 600;
}
.content-header-grey {
  font-size: 1rem;
  font-weight: 600;
  color: var(--grey-color);
  margin-right: 20px;
  width: 10%;
}

.detailhead {
  position: relative;
  color: #333;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  max-height: 2.4em;
  overflow: hidden;
  text-align: left;
  word-break: break-word;
}

.detail-divider {
  position: relative;
  max-width: 1060px;
  height: 1px;
  background-color: #ececec;
  margin: 50px auto;
  width: 100%;
}

.detail-map {
  margin: 30px auto 50px auto;
  width: 100%;
  height: 250px;
  background-color: grey
}

.wrap2 {
  margin: 20px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail-company-box {
  border-radius: 3px;
  border: 1px solid #e1e2e3;
  padding: 20px;
}
.detail-company-logo {
  width: 42px;
  height: 42px;
  border: none;
  background-size: contain;
  background-position: 50%;
  margin-right: 7px;
  background-repeat: no-repeat;
}

/* DETAIL - JOB - END  */


/* NEW JOB */
.newjob-container {
  max-width: var(--detail-width);
  margin: 30px auto;
  padding: 10px;
  font-size: 1rem;
}

.newjob-text-grey {
  font-size: 1rem;
  font-weight: 600;
  color: var(--grey-color);
}

.newjob-head{
  margin-top: 25px;
}

.newjob-head::after{
  content: "*";
  color: red;
  margin-left: 2px;
}

.newjob-input{
  width: 96%;
  outline: none;
  border: 2px solid var(--box-border);
  height: 30px;
  margin: 10px auto;
  padding: 5px 10px 5px 10px;
  border-radius:3px;
}

.newjob-inputarea{
  width: 96%;
  outline: none;
  border: 2px solid var(--box-border);
  height: 200px;
  margin: 10px auto;
  padding: 10px;
  border-radius:3px;
}

.newjob-input:focus,
.newjob-inputarea:focus,
.newjob-input:hover,
.newjob-inputarea:hover{
  border: 2px solid var(--primary-color);
}

.button-wrap{
  margin: 30px auto;
  width: 100%;
  justify-content: space-around;
  display: flex;
  gap:5px;
}

.newjob-file {
  display: none !important;
}

.newjob-preview {
  display: block;
  width: 98.5%;
  max-height: 250px;
  object-fit: cover;
  margin:20px auto 20px auto; 
}
.newjob-register-button{
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #36f;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: normal;
  color: #fff;
  text-align: center;
  border: none;
  margin: 60px auto;
}
.flex-center {
  display: flex;
  justify-content: center;
}

/* NEW JOB - END */


/* DETAIL - COMPANY */

/* DETAIL - COMPANY - END */

/* Signup / Login Page */
.signup-wrap {
  min-width: 800px;
  /* background: green; */
}
.signup {
  margin: 64px auto ;
  width: 320px;
  /* height: 676px; */
}
.signup-company {
  margin: 64px auto ;
  width: 640px;
}
.signup-title {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
}
.signup-msg-slider{
  display: flex;
  justify-content: center;
}
.signup-msg {
  
}
.signup-form {
  display: flex;
  flex-direction: column;
}
.signup-input {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.form-label {
  line-height: 1.43;
  letter-spacing: -.3px;
  font-size: 14px;
  font-weight: 400;
  color: #3e4042;
}
.signup-position {
  padding: 13px 12px;
  font-size: 15px;
  margin-top: 10px;
  border: 1px solid #dee2e6;
}
.signup-position:hover {
  outline: 1px solid #00c471;
}
.signup-input-form {
  margin-top: 10px;
  padding: 13px 12px;
  height: 24px;
  font-size: 15px;
  border: 1px solid #dee2e6;
}
.signup-input-form:focus {
  outline: 1px solid #00c471;
}

.signup-btn {
  border-color: #00c471;
  background-color: #00c471;
  margin-top: 16px;
  margin-bottom: 12px;
  border: 1px solid;
  color: #fff;
  height: 48px;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
}
.signup-btn-company{
  /* border-color: #fff; */
  background-color: #fff;
  margin-top: 16px;
  margin-bottom: 12px;
  border: 1px solid eee;
  color: black;
  height: 48px;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .social-login-btn {
  display: flex;
  flex-direction: row;
} */

.login-to-signup {
  display: flex;
  justify-content: center;
}
.login-to-signup > span{
  text-align: center;
  line-height: 1.38;
  letter-spacing: -.3px;
  font-size: 13px;
  font-weight: 400;
  color: #616568;
  border-bottom: 1px solid #858a8d;
  cursor: pointer;
  margin-left: 10px;
}
.signup-footer {
  line-height: 1.5;
  letter-spacing: -.3px;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 6px;
  color: #858a8d;
}
.upload-name {
  border: none;
}
/* Signup / Login End */

/* Company Detail */
.detailcompany{
  position: relative;
    width: 100%;
    min-height: 720px;
    background-color: #fff;
}
.detailcompany-header{
  height: 90px;
  width: 100%;
  border-bottom: 1px solid #e1e2e3;
  background-color: #fff;
}
.detailcompany-header-innerwrap{
  position: relative;
  height: 100%;
  width: 90%;
  max-width: 1060px;
  margin: 0 auto;
}
.detailcompany-header-logo{
  background-image: url('https://static.wanted.co.kr/images/wdes/0_4.583df4fc.png');
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: 1px solid #f1f1f2;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.detailcompany-header-innerwrap > h2 {
  position: absolute;
  left: 65px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: calc(100% - 200px);
  font-size: 26px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #333;
}
.detailcompany-header-btn{
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  min-width: 64px;
  padding: 0 27px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 25px;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  color: #36f;
  background-color: #fff;

  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 1px solid #e1e2e3;
  height: 40px;
  font-size: 15px;
}
.detailcompany-header-btn:hover {
  border: 1px solid #36f;
}
.detailcompany-body-innerwrap{
  width: 90%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 40px 0;
}
.detailcompany-jopposition {
  min-height: 500px;
  /* margin-bottom: 80px; */
  margin-bottom: 50px;
}
.detailcompany-jopposition > h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
  color: #333;
  margin-bottom: 20px;
}
.detailcompany-joplistwrapper{
  margin: 0 -10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.detailcompany-joblist{
  display: block;
  position: relative;
  /* width: calc(50% - 20px); */
  width: 40%;
  min-height: 108px;
  margin: 0 10px 20px;
  padding: 16px 20px 19px;
  border-radius: 3px;
  border: 1px solid #e1e2e3;
  text-decoration: inherit;
  cursor: pointer;
}
.detailcompany-joblist > h4{
  width: calc(100% - 40px);
  font-size: 18px;
  line-height: 1.4;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
}
.detailcompany-joblist > h5{
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #86939e;
  margin-top: 3px;
}
.detailcompany-joblist > p{
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #666;
  margin-top: 15px;
}
.detailcompany-joblist-btn {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  color: #86939e;
  width: 34px;
  height: 34px;
  border: 1px solid #e1e2e3;
  border-radius: 17px;
  background: none;
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible;
}
.detailcompany-innercompany{
  margin-bottom: 70px;
}
.detailcompany-innercompany > h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
  color: #333;
  margin-bottom: 20px;
}
.detailcompany-innercompany-img-wrap{
  position: relative;
  margin-left: -10px;
  margin-bottom: 20px;
  height: 124px;
  overflow: hidden;
}
.detailcompany-innercompany-img{
  float: left;
  width: calc(25% - 10px);
  height: 100%;
  margin-left: 10px;
  padding: 0;
  border: 0;
  background: none;
  -webkit-appearance: button;
  cursor: pointer;
}
.detailcompany-innercompany-img > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.detailcompany-innercompany-intro {
  position: relative;
  font-size: 16px;
  line-height: 27px;
  width: 100%;
  max-height: 81px;
  overflow: hidden;
  white-space: pre-line;
}
.detailcompany-innercompany-btn{
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #999;
  padding: 10px 0;
  margin: 0;
  border: 0;
  background: none;
  -webkit-appearance: button;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
}
.detailcompany-innercompany-btn > svg{
  margin-left: 10px;
}
.detailcompany-innercompany-btn > i {
  display: inline-block;
  margin-left: 6px;
  font-size: 16px;
}
/* Company Detail End */


/* COMMUNITY */
.greybackground{
  background-color: var(--background-color);
}

.community-container{
  width: var(--container-width);
  display: flex;
  margin: 0px auto;
}

.community-aside {
  flex: 0 0 258px;
  padding: 0;
  margin: 40px 20px 50px 15px;
}

.community-content {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  flex-direction: column;
  padding: 0;
  border: 1px solid var(--box-border);
  border-radius: 5px;
  margin-bottom: 50px;
}

.community-profile-image{
  width: 37px;
  height: 37px;
  object-fit: cover;
  border-radius: 50%;
}

.chat-profile-image{
  width: 32px;
  height: 32px;
  margin: 5px;
  object-fit: cover;
  border-radius: 50%;
}
.rowwrapper{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 20px 10px 10px 10px;
}

.userid {
  font-size: 1rem;
  margin-left: 1rem;
}

.rowwrapper{
  align-items: center;
}

.aside-user{
  background-color: #fff;
  border: 1px solid var(--box-border);
  border-radius: 5px;
  padding: 20px;
}

.aside-rooms {
  background-color: #fff;
  border: 1px solid var(--box-border);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  overflow: auto;
}

/* .room-category {
  margin: 5px 0px 3px 0px;
  padding: 8px;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 7px;
}

.room-category:hover {
  background-color: var(--background-color);
}
.room-category:focus {
  border: 1px solid var(--box-border);
  color: var(--primary-color);
} */

.emoji {
  font-size: 1.3rem;
  margin-right: 12px;
}

/* CHAT AREA */

.chat-box-head{
  font-size: 1.1rem;
  font-weight: 600;
}
.chat-box-top{
  background-color: #fff;
  border-bottom: 1px solid var(--box-border);
  margin: 0;
  padding: 30px 20px 30px 20px;
  border-radius: 5px 5px 0px 0px;
}

.chat-box-input{
  background-color: #fff;
  border-bottom: 1px solid var(--box-border);
  margin: 0;
  padding: 20px;
  align-items: center;
  display: flex;
}

.chat-box-main {
  background-color: #fff;
  margin: 0;
  border-radius: 0px 0px 5px 5px;
  padding: 20px;
  min-height: 476px;
  position: relative;
}

.chat-input {
  width: 80%;
  padding: 2px 2px 2px 15px;
  height: 35px;
  margin:17px 15px;
  outline: none;
  border: 1px solid var(--box-border);
  border-radius: 4px;
  font-size: 1em;
}

.chat-input::placeholder {
  color: #333;

}

.send-btn{
  width:60px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: var(--light-light-grey);
  color: #fff;
  font-weight: 600;
}

.send-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 600;
}

.message-container{
  width: 100%;
  min-height: 450px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.message {
  height: auto;
  padding: 10px;
  display: flex;
}

.message-content{
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: var(--primary-light);
  border-radius: 5px;
  color:#333;

  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
  justify-content: flex-start;
}

#you {
  justify-content: flex-start;
}


.message-meta {
  justify-content: flex-start;
  margin-left: 5px;
  display: flex;
  font-size: 12px;
  align-items: center;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  background-color: var(--background-color);
}

.message-meta #author {
  font-weight: 600;
  margin-right: 10px;
}

/* CHAT AREA END */
/* COMMUNITY END */


/* COMPANY - MYPAGE */
.mypage-container{
  background-color: var(--background-color);
}

.mypage-header{
  max-width: var(--container-width);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: 0px auto;
}

.header-block{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-number{
 font-size: 2.5rem;
 margin-top: 40px;
}

.block-text{
  font-size: 1rem;
  margin: 10px auto;
}

.mypage-content{
  min-height: 100vh;
  max-width: var(--container-width);
  width: 100%;
  display: flex;
  margin: 80px auto;
  flex-wrap: wrap;
  gap: 10px;
}

/* .companypage-job-card{
  width: 248px;
  height: 330px;
  cursor: pointer;
  padding: 8px !important;
  justify-content: space-around;
  border-radius: 5px;
} */


.card-wrap {
  width: 250px;
  height: 188px;
  position: relative;
}


.companypage-job-img{
  display: block;
  width: 240px;
  height: 188px;
  object-fit: cover;
  border-radius: 5px;
}
/* 
.companypage-job-card:hover {
  background-color: var(--primary-light);
} */

#job-card:hover .overlay {
  opacity: 1;
}

.overlay {
  z-index: 1000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 240px;
  opacity: 0;
  transition: .2s ease;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.65);
}

.tag {
  color: white;
  font-size: 20px;
  line-height: 23px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.tag>span {
  color: #fff;
  font-size: 2.2rem;
  padding:10px;
  cursor: pointer;
}

.tag>span:hover {
  color: var(--primary-color);
}

.delete-text {
  font-size: 0.9rem;
  font-weight: 400;
}


/* COMPANY - MYPAGE END */


/* FOOTER */
.footer-container{
  height: 240px;
  padding: 18px 0 10px;
  background-color: #fff;
  border-top: 1px solid #ececec;
}
.footer-menu{
  display: flex;
  flex-direction: row;
  max-width: var(--container-width);
  margin: 5px auto;
}

.footer-logo {
  width: 110px;
  margin-right: 30px;
  object-fit: contain;
}

.footer-menu-item{
  margin: 10px 20px;
  font-size: 0.9rem;
}

.footer-text{
  max-width: var(--container-width);
  margin: 5px auto;
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: var(--grey-color);
}

/* FOOTER END */
