@charset 'UTF-8';
/* Slider */

/* Icons */

/* Arrows */

.slick-prev:before,
.slick-prev{
    left: 18%;

    position: absolute;
    top: 50%;

    display: block;

    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    width: 24px;
    height: 45px;
    opacity: .5;
    border-radius: 15px;
    background-color: #fff;
    font-size: 16px;
    z-index: 10;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    content: "<" !important;
    font-size: 1.2rem;
    padding-top: 12px;
    padding-left: 9px;
}
.slick-next:before,
.slick-next:after,
.slick-next{
    content: ">" !important;
    right: 18%;
    position: absolute;
    top: 50%;
    display: block;  
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    width: 24px;
    height: 45px;
    opacity: .5;
    border-radius: 15px;
    background-color: #fff;
    font-size: 16px;
    z-index: 10;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding-top: 12px;
    padding-left: 9px;
}

